<% include partials/header %>
<div class="container home">
    <h1>Welcome</h1>
    <h4>
        <a href="/houses"> View House Details</a>
    </h4>
    <h4>
        <a href="/members"> View Characters</a>
    </h4>
</div>

<% include partials/footer %>